*text= auto
*.pdf binary
*.png binary
*.jpg binary
*.eps binary

*.f90 diff=Fortran
*.tex diff=Tex
*.bib diff=BibTeX
*.sh diff=Shell

*.f90 linguist-language=Fortran
*.tex linguist-language=Tex
*.bib linguist-language=BibTeX
*.sh linguist-language=Shell
 
