* text=auto eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.eps binary

*.f90 diff=Fortran
*.tex diff=tex
*.aux diff=tex
*.bbl diff=bibtex
*.blg diff=bibtex
*.out diff=tex
*.bib diff=bibtex

*.tex linguist-language=tex
*.ini linguist-language=tex
*.lvt linguist-language=tex
 
